<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @cart.project_id %>
</p>

<p>
  <strong>Tap:</strong>
  <%= @cart.tap_id %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
