<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @faucet.category %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @faucet.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @faucet.model %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @faucet.discription %>
</p>

<p>
  <strong>Main img:</strong>
  <%= @faucet.main_img %>
</p>

<p>
  <strong>Sellingprice:</strong>
  <%= @faucet.sellingprice %>
</p>

<p>
  <strong>Properprice:</strong>
  <%= @faucet.properprice %>
</p>

<p>
  <strong>Discountrate:</strong>
  <%= @faucet.discountrate %>
</p>

<p>
  <strong>Buyingprice:</strong>
  <%= @faucet.buyingprice %>
</p>

<p>
  <strong>Fn1 title:</strong>
  <%= @faucet.fn1_title %>
</p>

<p>
  <strong>Fn1 img:</strong>
  <%= @faucet.fn1_img %>
</p>

<p>
  <strong>Fn1 content:</strong>
  <%= @faucet.fn1_content %>
</p>

<p>
  <strong>Fn1 url:</strong>
  <%= @faucet.fn1_url %>
</p>

<%= link_to 'Edit', edit_faucet_path(@faucet) %> |
<%= link_to 'Back', faucets_path %>
