<%= form_for(@management) do |f| %>
  <% if @management.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@management.errors.count, "error") %> prohibited this management from being saved:</h2>

      <ul>
      <% @management.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kbratio %><br>
    <%= f.number_field :kbratio %>
  </div>
  <div class="field">
    <%= f.label :oasyssegment %><br>
    <%= f.text_field :oasyssegment %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :branch %><br>
    <%= f.text_field :branch %>
  </div>
  <div class="field">
    <%= f.label :postalcode %><br>
    <%= f.text_field :postalcode %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :tel %><br>
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :oasyseigyo %><br>
    <%= f.text_field :oasyseigyo %>
  </div>
  <div class="field">
    <%= f.label :contractor %><br>
    <%= f.text_field :contractor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
