<p id="notice"><%= notice %></p>

<p>
  <strong>Kbratio:</strong>
  <%= @management.kbratio %>
</p>

<p>
  <strong>Oasyssegment:</strong>
  <%= @management.oasyssegment %>
</p>

<p>
  <strong>Company:</strong>
  <%= @management.company %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @management.branch %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @management.postalcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @management.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @management.tel %>
</p>

<p>
  <strong>Oasyseigyo:</strong>
  <%= @management.oasyseigyo %>
</p>

<p>
  <strong>Contractor:</strong>
  <%= @management.contractor %>
</p>

<%= link_to 'Edit', edit_management_path(@management) %> |
<%= link_to 'Back', managements_path %>
